{% extends 'base.html' %}
{% load i18n static custom_filters %}

{% block content %}
  <h2 class="text-center mt-4">{{ title }}</h2>
  <!-- Список товаров -->
  <div class="container-fluid px-3">
    <ul class="product-list row mt-2 list-unstyled gx-3 gy-4">
      {% for product in products %}
        {% with product_url=product.get_absolute_url %}
          <li class="product-item col-6 col-md-3 col-lg-2">
            <div class="card custom-card h-100 border-0 shadow-sm">
              <a href="{% url 'product_comment' category_slug=product.category.slug product_slug=product.slug %}">
                <img src="{{ product.image_3x4.url }}"
                     class="card-img-top rounded-top" alt="{% translate "Imagen" %}">
              </a>
              <div class="card-body text-center p-3">
                <h5 class="card-title mb-2">
                  <a href="{% url 'product_comment' category_slug=product.category.slug product_slug=product.slug %}"
                     class="text-decoration-none text-dark fw-bold">
                    {{ product.name }}
                  </a>
                </h5>
              </div>
            </div>
          </li>
        {% endwith %}
      {% endfor %}
    </ul>
  </div>


{% endblock %}

{% block pagination %}
  {% include "products/includes/pagination.html" %}
{% endblock %}
