{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="text-center text-soft-primary mb-4">{% translate "Restablecer contraseña" %}</h2>

            <p class="text-muted mb-3">{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

            <p class="text-muted">{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

            <div class="text-center mt-4">
              <a href="{% url 'users:login' %}" class="btn btn-soft-primary btn-lg">{% translate 'Back to Login' %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
