{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
          <div class="card-body text-start">
            <h2 class="card-title text-center mb-4">{{ title }}</h2>

            <form method="POST" class="needs-validation" novalidate>
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">

              {% if form.non_field_errors %}
                <div class="alert alert-danger">
                  {{ form.non_field_errors }}
                </div>
              {% endif %}

              {% for field in form %}
                <div class="mb-3">
                  <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                  {{ field.as_widget }}
                  {% if field.errors %}
                    <div class="invalid-feedback d-block">
                      {{ field.errors|join:', ' }}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}

              <div class="d-grid mb-1">
                <button type="submit" class="btn btn-soft-primary btn-lg">
                  {% translate "Enviar por correo electrónico" %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
